In [1]:
import numpy as np
import pandas as pd
import math

import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import mean_squared_error, r2_score


import warnings
warnings.filterwarnings('ignore')

In [2]:
data = pd.read_csv('D:/Papers/paper_code/new/Data/Raw/Tesla_Stock_data.csv')

In [3]:
data.head(3)

         Date      Open      High       Low     Close  Adj Close     Volume
0  2010-06-29  1.266667  1.666667  1.169333  1.592667   1.592667  281494500
1  2010-06-30  1.719333  2.028000  1.553333  1.588667   1.588667  257806500
2  2010-07-01  1.666667  1.728000  1.351333  1.464000   1.464000  123282000

In [4]:
data.shape

(3143, 7)

In [5]:
lag_n = 3

In [6]:
data['lag_O'] = data[data.columns[1]].shift(lag_n)
data['lag_H'] = data[data.columns[2]].shift(lag_n)
data['lag_L'] = data[data.columns[3]].shift(lag_n)
data['lag_C'] = data[data.columns[4]].shift(lag_n)
data['lag_A'] = data[data.columns[5]].shift(lag_n)
data = data.dropna(axis = 0, how = 'any')
data.reset_index(drop = True, inplace = True)
data.drop(columns = {'Open', 'High', 'Low', 'Adj Close', 'Volume'}, inplace = True)
data.head(3)

         Date     Close     lag_O     lag_H     lag_L     lag_C     lag_A
0  2010-07-02  1.280000  1.266667  1.666667  1.169333  1.592667  1.592667
1  2010-07-06  1.074000  1.719333  2.028000  1.553333  1.588667  1.588667
2  2010-07-07  1.053333  1.666667  1.728000  1.351333  1.464000  1.464000

In [7]:
def time_features(df, date_columns):
    
    df['Year'] = pd.to_datetime(df[date_columns]).dt.year
    df['Month'] = pd.to_datetime(df[date_columns]).dt.month
    df['Day'] = pd.to_datetime(df[date_columns]).dt.day
    df['Weekday'] = pd.to_datetime(df[date_columns]).dt.weekday
    
    return df

data = time_features(data, 'Date')

In [8]:
data.columns

Index(['Date', 'Close', 'lag_O', 'lag_H', 'lag_L', 'lag_C', 'lag_A', 'Year',
       'Month', 'Day', 'Weekday'],
      dtype='object')

In [9]:
columns ={'Close', 'lag_O', 'lag_H', 'lag_L', 'lag_C', 'lag_A',
       'Year', 'Month', 'Day', 'Weekday'}

def minmax(data):
    for col in columns:
        scaler = MinMaxScaler(feature_range = (0,1))
        data[col] = scaler.fit_transform(data[col].values.reshape(-1,1))
    return data

Tesla_data = minmax(data)

In [10]:
Tesla_data.head(3)

,Date,Close,lag_O,lag_H,lag_L,lag_C,lag_A,Year,Month,Day,Weekday
0,2010-07-02,0.000554,0.000465,0.001350,0.000422,0.001319,0.001319,0.0,0.545455,0.033333,1.00
1,2010-07-06,0.000051,0.001568,0.002224,0.001371,0.001309,0.001309,0.0,0.545455,0.166667,0.25
2,2010-07-07,0.000000,0.001439,0.001498,0.000871,0.001004,0.001004,0.0,0.545455,0.200000,0.50

In [11]:
#Tesla_data.to_csv('../Data/Processed/Tesla_data.csv', index = False)